{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-global-assign": 0,
    "no-unsafe-negation": 0
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
  }
}
