{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-global-assign": 0,
    "no-unsafe-negation": 0,
    "react/jsx-uses-vars": [2],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "./devServer.js"]}],
    "class-methods-use-this": ["error", { "exceptMethods": ["render"] }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "React" }],
    "no-underscore-dangle": 0,
    "linebreak-style": 0,
    "new-cap": 0,
    "default-case": 0,
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
  }
}
